<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create News</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
    <div class = "container">
        <div class = "row">
            <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class = "text-center"> Create New News </h1>
                <div class = "card-body">
                    <form th:action="@{/news}" th:object = "${news}" method="POST">
                        <div class ="form-group">
                            <label> Name </label>
                            <input
                                    type = "text"
                                    name = "name"
                                    th:field = "*{name}"
                                    class = "form-control"
                                    placeholder="Enter Name"
                            />
                        </div>

                        <div class ="form-group">
                            <label> Perex </label>
                            <input
                                    type = "text"
                                    name = "perex"
                                    th:field = "*{perex}"
                                    class = "form-control"
                                    placeholder="Enter Perex"
                            />
                        </div>

                        <div class ="form-group">
                            <label> Content </label>
                            <input
                                    type = "text"
                                    name = "content"
                                    th:field = "*{content}"
                                    class = "form-control"
                                    placeholder="Enter Content"
                            />
                        </div>

                        <div class ="form-group">
                            <label> Category </label>
                            <select id="category" required th:field="*{category}" class="form-select form-select-lg mb-3">
                                <option th:value="INTERNAL">INTERNAL</option>
                                <option th:value="PUBLIC">PUBLIC</option>
                            </select>
                        </div>

                        <div class = "box-footer">
                            <button type="submit" class = "btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>